<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <title>Frisbee Site</title>
    </head>

  <body>
    <header>
 
         <ul class="horzmenu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Roster</a></li>
            <li><a href="#">Calendar</a></li>
         </ul>
      
    </header> 
 
<!--Style Definitions, refer to movies.css file-->

    <link rel="stylesheet" type="text/css" href="stylesheet.css" />    
    
<!-- Main Body-->

    <div class="jumbotron">
    </div>


  <footer> 
    
      <ul class="horzmenu">
         <li><a href="twitter.com">Twitter</a></li>
         <li><a href="facebook.com">Facebook</a></li>
         <li><a href="instagram.com">Instagram</a></li>
      </ul>
   
  </footer>


  </body>
</html>
