<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <title>Frisbee Site</title>
    </head>

  <body>

<!--Style Definitions, refer to movies.css file-->

    <link rel="stylesheet" type="text/css" href="stylesheet.css" />   


<!--Header-->

    <header>
 
         <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Roster</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Contact</a></li>
         </ul>
      
    </header> 
 
<!-- Main Body-->

    <div class="jumbotron">
        Some picture here.
    </div>

    <div class="section">
        Something that's not a picture here. 
    </div>


<!--Footer-->

  <footer> 
      <div class="navFooter">
      <ul class="horzmenu">
         <li><a href="twitter.com"><img src="/image/facebook_logo.png" alt="Facebook"style="width: 25px; height: 25px;"></a></li>
         <li><a href="facebook.com"><img src="/image/instagram_logo.jpg" alt="Instagram"style="width: 25px; height: 25px;"></a></li>
         <li><a href="instagram.com"><img src="/image/twitter_logo.png" alt="Twitter" style="width: 30px; height: 25px;"></a></li>
      </ul>
          <p>Site created by Lauren Bergam 8.14.2015</p>
      </div>
  </footer>


  </body>
</html>

