header{
    padding: 0px;
    border-bottom: 1px solid #f1efef; 
}

.nav{
    margin-left: 20px;
}

.nav li{
    display: inline;
    padding: 5px 20px 0px 20px;
}

.nav li a{
    text-decoration: none;
    color: #000;
}

.nav li a:hover{
    color: #f1efef;
}

.jumbotron {
     margin: 5px 0px 0px 0px;
     background-color: #8db4da;
     height: 600px;
     width: 100%;
     text-align: center;
}

.section {
    background-color: #f1efef;
    height: 800px;
    width: 100%;
    text-align: center;
}

.navFooter {
    width: 100%;
    margin: 0;
    padding:  0px 0px 0px 0px;
    background-color: #808080;
    text-align: left;
}

.navFooter ul {
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.navFooter li{
   display: inline;
   padding: 0px 0px 0px 0px;
 }

.navFooter li a {
    padding: 0px 10px 0px 0px;
    text-decoration: none;
    color: #000;
}

.navFooter li a:hover {
    color: #f1efef;
}

footer div p {
    font-size: 10px;
    font-family: Arial;
    text-align: center;
}



/*Comment*/